#overlay {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay img {
    margin: 50px 0;
}

p {
    margin-top: 300px;
    text-align: center;
}